[2019-03-19 17:20] Syiana opened #2 "IE says ')' is missing"

[2019-03-19 19:31] IGreatlyDislikeJavascript commented on #2
Thanks for the report. Please can you provide me with a bit more information? Does IE tell you what line of code this error occurs on?

If you're unsure how to find out some more information, please see here:
https://stackoverflow.com/questions/10191099/debugging-javascript-in-ie

---
Please note that Bootstrap Tourist is in development and may contain bugs. All bug reports, fixes, pull requests a

[2019-03-20 21:59] bduran82 commented on #2
The problem is that IE doesn't support ES6 default parameters used in some functions like:

[code]

[2019-03-21 11:12] IGreatlyDislikeJavascript commented on #2
@bduran82 got it, thank you for the explanation. I didn't realize people still used IE ;-) . I'll change the way I handle default params to make them IE compatible, and publish a new version shortly.

[2019-03-31 15:10] gsrafael01 opened #3 "Can you put this on npm?"
Would be nice to have this on [npm](https://www.npmjs.com/).

[2019-03-31 15:12] gsrafael01 commented on #2
@IGreatlyDislikeJavascript You could use Babel to handle compatibility with older browsers instead of changing your code. That way, you can write your code using ES6, but ship it to incompatible browsers with Babel.

[2019-03-31 18:37] IGreatlyDislikeJavascript commented on #2
Thank you, I'll take a look at that. One of the primary concerns with Tourist is keeping it as lean and close to original Tour as possible to facilitate a future merge-back, so will also need to keep that in mind.

[2019-04-01 15:19] IGreatlyDislikeJavascript commented on #3
Stupid question - does it have to be *me* that puts it onto npm, or could someone else (such as yourself for example) do that?

Just to reiterate a couple of points about Tourist - I'm not a javascript coder, I only had a need to fix the original Tour for a project. I then decided to help by adding features/fixes and starting the move to ES6 as per discussion in the original Tour repo. Also, Touri

[2019-04-01 16:29] gsrafael01 commented on #3
I doesn't have to be you, but since you're the developer, you would be able to always keep the package up to date.

There's nothing wrong with putting it as a beta version on npm (your README is also shown there), and it shouldn't affect your development at all. All you need to do is create your account on npm, install Node.js, and run these commands from the terminal in your working directory:

[

[2019-04-02 16:46] IGreatlyDislikeJavascript commented on #2
Latest commit removes reliance on default params to solve this issue.

https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/commit/286e78234a562854317f7cfbfdc01c617e5e099c

[2019-04-02 16:46] #2 closed

[2019-04-03 18:17] IGreatlyDislikeJavascript commented on #3
Okay, so I think I've done this using the package name "bootstrap-tourist". Would appreciate you checking this?

Please be warned, I have never done this before so I don't know if it's packaged and published correctly. I strongly recommend just using the repo download option here on github!

[2019-04-04 01:33] gsrafael01 commented on #3
It's perfect, thanks!

I just prefer to automate every task I can for my projects, saves a lot of time.

[2019-04-04 01:33] #3 closed

[2019-04-25 08:45] surli opened #5 "Make bootstrap-tourist available as a webjar"
We currently use bootstrap-tour in our project, included as a [webjar](https://www.webjars.org/). In order to migrate towards tourist, we would need it to be available as webjar.
It's not possible currently to deploy it as one since contrary to bootstrap-tour it doesn't contain a package.json to build it as an NPM package.

Would that be possible to add one to the repo?

[2019-04-25 18:53] IGreatlyDislikeJavascript commented on #5
Hi, as you'll find out if you dig into the docs, I'm not a JS coder! So unfortunately you'll have to help me out here.

The purpose of Tourist and this repo is to be a beta and in-development version to add fixes and features, and migrate to native ES6. That's why there's no minified version, package.json etc

I looked at the link and it seems complex, or at least some understanding and work is ne

[2019-04-29 07:14] surli commented on #5
Thanks for the hint. So I deployed it using that info with the automated UI of webjars and it's now available on Maven etc, see: https://search.maven.org/artifact/org.webjars.npm/bootstrap-tourist/0.0.10/jar

[2019-04-29 07:14] #5 closed

[2019-05-02 13:16] bardware opened #6 "License"
Hi,

do you publish this library under a certain license?
If you have no preference, than you can maybe add MIT license as on of the most free licences available.

Thank you for your work,
Bernhard

[2019-05-03 06:00] IGreatlyDislikeJavascript commented on #6
Hi, thanks for the question. Tourist is indeed published under MIT license, please see the very bottom of the readme.

This matches the original Tour license as well, for continuity and easy upgrading.

[2019-07-11 09:00] bardware commented on #6
Github woul show that prominently if there's a `LICENSE` file in the root folder. :)
Thanks for the answer!

[2019-07-11 09:00] #6 closed

[2019-07-11 22:29] thenewbeat opened #10 "Fix backdrop right width calculation"
The original calc is not taking into account the anchor elements left offset, causing the right backdrop to go off the page, possibly throwing off the page's layout.

[2019-07-11 22:30] thenewbeat commented on #10
`$backdropRight.width(docWidth - (elementData.width + elementData.offset.left));`

[2019-07-13 16:00] DancingDad opened #14 "ERROR TypeError: Cannot read property 'buttonTexts' of undefined"
I use bootstrap tour in my angular/bootstrap project (you can see it here if you like)
https://refavo-test.firebaseapp.com/

I have experienced quite a few issues with css conflicts between bootstrap tour and bootstrap v4 and have a new one today with the collapse bootstrap feature. I am hoping that your fork and updates are able to resolve this for bootstrap 4.0 as I do like the bootstrap tour fu

[2019-07-13 16:17] IGreatlyDislikeJavascript commented on #14
Hi, thanks for your report and for using Tourist!

Which browser are you using when you get that error? I bet it's IE... The issue is that your browser is rejecting the js that sets a default button text due to a parent object not existing - I'm guessing Chrome creates the objects, but your browser isn't doing so.

Please can you try adding the following code at line 687 of bootstrap-tourist.js:

[2019-07-13 16:22] DancingDad commented on #14
Hi, I am using Chrome.  Version 75.0.3770.100 (Official Build) (64-bit)
I will try these fixes now. Thanks!

[2019-07-13 16:23] IGreatlyDislikeJavascript opened #15 "Tourist Documentation improvements"
Currently, users of this fork must refer to the original Tour docs and website, then read through the lengthy comments at the top of the bootstrap-tourist.js / in the Tourist readme to find out what features, fixes and other points are included and are different to Tour. This is causing confusion!

A proper set of documentation specifically for Tourist is required.

If anyone would like to help wi

[2019-07-13 16:29] DancingDad commented on #14
The first fix worked! Thanks very much for that. I like the new look as well. Very cool.

[2019-07-13 16:36] DancingDad commented on #14
ok. perhaps jumped the gun on the "fix worked". The first tour shows up. I can see it us step 1/8. The progress bar is correct. However, the buttons do not do anything. Neither the Next or End Tour buttons.  (the previous button is correctly disabled. There are no errors in the console.  I will investigate and raise an another error report if needed. Thanks again.

[2019-07-13 16:50] DancingDad commented on #14
Found the issue.. removing the "name:"  attribute added when initialising the Tour object fixed it. I did not have this attribute before but thought it something needed. Perhaps if it is to do with the generation of the local variables to persist the tours current state i.e. progress, end state?

[2019-07-13 16:58] IGreatlyDislikeJavascript commented on #14
That's very strange. Just so I'm clear, you're saying that removing the name: option from the tour options fixes the original TypeError you were getting - without using the extra lines of object setup I posted?

The name option is used for a couple of things: pseudo classes for selectors to uniquely identify tour elements, local storage state persistence, triggers etc.

But none of those affect th

[2019-07-13 17:22] thenewbeat commented on #14
@DancingDad I just implemented this library into my Angular 8 project and ran across the same issue.

when compiling the `bootstrap-tourist.js` errors here:
[code]
You have to manually tell your `Tour` instance which button labels to use, but the instructions for doing so in the documentation don't work, so I had to modify them like so:

[code]

[2019-07-13 17:47] DancingDad commented on #14
Sorry, I muddled issues on the same thread (should have created a separate issue)
1.  Adding this fixed the type error - SOLVED
[code]

[2019-07-13 18:06] IGreatlyDislikeJavascript commented on #14
@dancingdad @thenewbeat thanks for confirming the fix. I'm going to reopen this issue until I fix it in the repo, probably tomorrow.

[2019-07-13 18:09] DancingDad commented on #14
@thenewbeat  I see, passing the buttontexts attribute in and defining the text of the buttons was another way of solving this. Nice one. I guess it is now for @IGreatlyDislikeJavascript  to decide which is the best approach.

[2019-07-13 20:38] bardware commented on #14
I noticed that behaviour in the past week and wanted to take this evening to report it and maybe offer a PR. Good to see you are addressing the issue, already!
If I don't pass the button texts in the call to `new Tour` , I get the error in line 690 because everything is undefined. My fix looked like
[code]

I secondly add the lines from your documentation to my call to `new Tour`
[code]
but my Jav

[2019-07-14 13:13] IGreatlyDislikeJavascript commented on #14
Thanks everyone. I've uploaded a new commit that changes the way the localization/buttontexts works, to hopefully fix this issue and to also add a little future proofing for localization.

Usage appears no different - i.e.: as per thenewbeat and bardware have posted above.

You can also only specify the button texts you want to change, and the other buttons will retain their defaults. For example:

[2019-07-14 13:14] IGreatlyDislikeJavascript commented on #10
Your pull is merged, thank you for the fix!

[2019-07-14 13:14] #10 closed

[2019-07-14 16:58] vneri commented on #14
Hi all, thanks for finding & fixing this
I am not sure, why I didn't work, but apparently it is because the object was not defined, when it is not passed.

BTW: where can we have a chat/conversation on the project? I wanted to discuss an idea (a tour-manager) - shall I just create an "issue"? (didn't like "issue" as placeholder for idea...)

[2019-07-14 20:39] IGreatlyDislikeJavascript commented on #14
Hi vneri, I have no idea why your code worked perfectly for you and I, but threw errors for others. If anyone figures that out I'd love to know.

I'm not a github expert (I'm barely a novice!) but I think that opening an "issue" is the right approach. We can discuss your idea in the thread then, when you're ready to put some code together, we can continue discussing and reviewing in a pull.

Unles

[2019-07-15 13:52] MrEbbinghaus opened #16 "Update on npm"
Hey,

I like your engagement to fix up bootstrap-tour.

Anyway, would you mind updating the project on npm?

`npm publish` from here: https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/3#issuecomment-478650305

PS:
Maybe you want to add a CI job to automate the publish job.
https://circleci.com/blog/publishing-npm-packages-using-circleci-2-0/

[2019-07-15 18:41] IGreatlyDislikeJavascript commented on #16
Hi, thanks for your comments, glad the updates are useful.

I'm happy to update the npm but I need some guidance here please. My understanding is that this will be an "automated" push to anyone who uses npm. So far I've only published an npm for the one formally tested Tourist release, which I know is bug-free.

My concern is that if I publish npms (or use the automated tool you suggest) for all c

[2019-07-15 19:53] MrEbbinghaus commented on #16
You should release every **stable** release.

<hr/>
An automatic tool could work on every github release or git tag.

In the example from circleci above:

[code]
This means:
1. ignore every branch (normaly the build would trigger on every commit)
2. build only on git tags starting with ˋvˋ

Tags: https://git-scm.com/book/en/v2/Git-Basics-Tagging

[2019-07-16 08:20] vneri opened #17 "Idea: Adding a touristManager to the solution"
Hi folks,
I started to build a small "Tour Manager" so that you can have multiple tours. With that, you would also have an overview of the tours and would be able to start them right away.

In the attached file, there is an example. A welcome modal with popup, linking to a starting tour. Another modal will show what tours are available. The welcome modal is hardcoded, but it could be easily adapte

[2019-07-16 08:21] vneri commented on #14
Thanks for the feedback, I've started a new issue
I think we could try to use https://gitter.im/?

[2019-07-17 16:01] thenewbeat commented on #15
I can work on this. I'll copy over the original documentation from Bootstrap Tour (since it's formatted well) and update it based on all the changes that have been made.

[2019-07-18 17:16] IGreatlyDislikeJavascript commented on #15
Fantastic, thank you.

[2019-07-18 17:18] #14 closed

[2019-07-18 17:20] IGreatlyDislikeJavascript commented on #16
That's very useful, thank you. I'm going to keep this issue open for now as a reminder that we need to set a stable release point and update the npm, probably after thenewbeat's current pull (addStep) is incorporated.

[2019-07-22 20:58] saviemedia opened #20 "Working with element in iFrame"
Hi, thanks a lot for your tour.

I've tried the dynamic

[2019-07-23 17:38] thenewbeat commented on #20
You're returning the DOM element, and not the element selector.
`$("#myIframe").contents().find("body")` If you run this in the console you'll see that it returns the HTML element.

The `step` option for 'element' is expecting a string: something like:
[code]

[2019-07-23 21:01] IGreatlyDislikeJavascript commented on #20
@thenewbeat - Tourist adds support for [finding element dynamically by function](https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist#dynamically-determine-element-by-function) :-)

@saviemedia - interesting problem, I wonder if there's an issue with the jq object identification. In short, original Tour passes the element string literal around, and I had to make a bunch of changes to all

[2019-07-24 15:08] saviemedia commented on #20
Thanks for your quick answer! I tried what you suggested to me:

steps:
[{
//element: "#selectMatter",
element: function() { return $("#selectMatter"); },
title: "Help",
content: "This is a test.",
}]

When the element is in static mode, it works. When in dynamic mode, I can see the backdrop appearing, but the tooltip won't appear since I get this error:

[ Bootstrap Tour: 'Test' ] Using framework

[2019-07-24 15:34] IGreatlyDislikeJavascript commented on #20
I am really beginning to hate popper.js!

Ok this was my mistake and I'm not sure how I missed it. Please do this to solve it.

On line 1836 of bootstrap-tourist.js, find the following code:
[code]

In between these 2 lines, on line 1836, make the following change to add the if clause:

[code]

Please test that for me, it should work. I'll add the fix into the repo if so.

[2019-07-24 19:11] saviemedia commented on #20
Yes it works now with the example mentionned above! Great thanks!
I'm still wondering how to select an element inside a iFrame.

Example:

steps:
[{
//element: "#MyElemInIFrame", // Doesn't work.
element: function() { return $("#MyIFrame").contents().find("#MyElemInIFrame"); }, // Doesn't work.
title: "Help",
content: "This is a test.",
}]

Logs:
[ Bootstrap Tour: 'ContenuOutil' ] Skip the orphan

[2019-07-25 19:21] saviemedia commented on #20
Here is some progress...

I was able to make this work:

steps:
[{
element: function() { return $("#MyIFrame").contents().find("#MyElemInIFrame"); },
title: "Help",
content: "This is a test.",
}]

I had to create the tour inside that function:

$( window ).on( "load", function()...  instead of   $(document).ready(function()...	because the iFrames and Images were not yet loaded.

The remaining prob

[2019-07-26 01:34] Invincibear opened #21 "backdrop doesn't work on rotated elements"
Hey thanks for updating bootstrap tour, saved my butt from spending countless hours troubleshooting why it isn't working with bootstrap 4....

So I ran into an issue where the backdrop isn't accurately drawn when factoring in rotated elements. In my case, I have a <ul> set to be horizontal, and then a transform: rotate(90) to make it vertical. When I set the tour element to be the <ul>, it still t

[2019-07-26 18:19] IGreatlyDislikeJavascript commented on #21
Thanks for the report. This is an interesting one, I never considered handling rotated elements and original Tour doesn't support them either. I need to think how to fix this because it's not just the background that's affected, preventInteraction will suffer from the same problem.

Please leave this one with me, I don't have an immediate solution but will work on it.

In the meantime, perhaps a t

[2019-07-26 18:21] IGreatlyDislikeJavascript commented on #20
I understand the problem. I think I need to add the iframe viewport offset into the position calculation for the popover and background.

I'll work on that add upload a fix to the repo when I have it done.

[2019-07-26 18:44] thenewbeat commented on #21
A simple solution for the developer would be to wrap the rotated element in a div, and place the Tour step on the wrap div.

[2019-07-28 17:56] Invincibear commented on #21
Tried using the wrapper idea but the same thing happens. I think all that's needed here is to detect if a rotate happens, and then translate the coordinates to draw the correct rectangle. Sounds simple in theory.... but we all know how that goes lol

[2019-07-28 20:47] IGreatlyDislikeJavascript commented on #21
I've been looking at this today, it's going to be a tough one to solve. First there cross browser compatibility issues in how to get the rotation/transform values for an element.

Second, the calculations to correctly position backdrop divs become problematic , because tourist code will have to emulate the transformation on the element to find the resulting position. And, if the rotation isn't at

[2019-07-31 11:36] FezVrasta commented on #20
@IGreatlyDislikeJavascript if you think the issue is with Popper.js please may you open an issue in its repository so I can take a look?

Thanks!

[2019-08-01 11:18] IGreatlyDislikeJavascript commented on #20
@saviemedia I've updated the repo with a fix for the element: function() issue. I'm still working on the iframe issue.

@FezVrasta I've dug into this further. The issue isn't directly with popper.js, it's with the BS4 implementation of popper.js.

The popover options passed to Bootstrap are reconstructed internally into a new object before Bootstrap passes them to popper.js. Only a couple of poppe

[2019-08-01 11:26] IGreatlyDislikeJavascript commented on #16
v0.2.0 published as release on github and on npm.

[2019-08-16 18:33] IGreatlyDislikeJavascript opened #23 "Backdrop transition between steps"
A historic UX issue from original Tour with the backdrop overlay still exists in Tourist. For reference, the original discussion is here: https://github.com/sorich87/bootstrap-tour/issues/711#issuecomment-447564310

@ibastevan has asked the following in the Tour repo, I've moved it to here as the discussion is specifically for Tourist:

Thanks for your feedback. There's a general UX/visual challen

[2019-08-16 19:15] thenewbeat commented on #23
What about a completely different approach... instead of removing the backdrop and re-adding, you just adjust the size of each backdrop panel. Adding css transitions so that it animates.

I have no idea how this would look in practice, but in my head it looks cool. :)

[2019-08-17 17:55] IGreatlyDislikeJavascript commented on #23
@thenewbeat yes I can kind of imagine what you're thinking of - it's like the backdrop "box" that frames the element on step N slides and grows/shrinks across the screen to end up framing step N+1 element? That would look cool!

Can we work through the logic of this though. Where we're moving from step N element to step N+1 element, the approach is simple - use jquery.animate or similar to shift t

[2019-08-19 10:06] ibastevan commented on #23
@IGreatlyDislikeJavascript Thank you for explaining how to add the fade transition. I have tested it and I think it is a huge improvement as it makes it slighly less abrupt when switching between steps, however we may run into some issues in certain scenarios where the timing of the fade could potentially cause the backdrop to break, especially when you have steps in play that require the delay op

[2019-08-19 10:32] IGreatlyDislikeJavascript commented on #20
@saviemedia sorry for the delay on this, I've been frustratedly scratching my head over how to solve it.

The short version is, it's not easily solvable in BS4. Popper.js doesn't obey iframes, and BS4 uses popper.js without exposing it fully, so I currently think it's only possible to solve this if @FezVrasta fixes popover iframe element alignment, in popper.js.

I've opened a report in the popper

[2019-08-19 10:49] IGreatlyDislikeJavascript commented on #23
So if I understand you correctly, this approach means we have one backdrop div that never changes , and one highlight div that "covers" the element? And then the preventInteraction div over all of them.

I really like this, because it solves other problems - the legacy tour approach of removing the backdrop on the step N in a promise, and creating/showing backdrop on step N+1 in a separate promise

[2019-08-19 11:20] ibastevan commented on #23
I havent taken into consideration the preventInteraction div, that actually has all the required values for the highlight element so we oculd probably duplicate that function. All the highlight div really does is cancel out the background of the backdrop.

So the highlight layer can have z-index: 9999998
and the backdrop will be z-index: 9999999
Then the step element will have a class added to it

[2019-08-19 14:37] ibastevan opened #25 "PreventInteraction offsetting incorrectly"
I noticed that the preventinteraction layer left postion is showing too far left and not inline with the actual element. It doesn't happen on all elements, seems to be only some.

![image](https://user-images.githubusercontent.com/48594811/63274168-3c5ba500-c297-11e9-904a-1cca30543198.png)

[2019-08-19 14:55] IGreatlyDislikeJavascript commented on #23
I found this post from the author of intro.js but I don't really understand the explanation. I can help you implement it though, I've commented on your pull so we can work it through together.

https://stackoverflow.com/questions/15576220/how-introjs-achieve-the-highlighted-areas

I don't understand how the zindex change on elements doesn't cause issues. If we start forcing changes on elements, wo

[2019-08-19 15:05] ibastevan commented on #23
I tried to follow the way Intro.js have done theirs in terms of css, and i think the z-index shouldn't cause too many issues. At worst someone will need to change the z-index values inside the css to something more suitable to their application. Or just apply some css overrides in their own theme css.

[2019-08-19 20:34] saviemedia commented on #20
Great thanks for your proactivity. Please keep us posted if any changes. Thanks in advance to @FezVrasta as well. Very best!

[2019-08-20 14:58] #25 closed

[2019-08-24 20:41] IGreatlyDislikeJavascript commented on #21
We're currently working on a significant change to how the backdrop is managed:

https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/pull/24

I'm pretty sure that once we have the new backdrop approach working and stable, fixing this rotated element issue will be fairly straightforward.

Thanks for your patience!

[2019-08-29 11:54] IGreatlyDislikeJavascript opened #26 "Tour step flow tracking"
Legacy issue from original Tour.

Currently, no proper tracking of tour steps is performed. This means use of Prev/Next is just a simple numerical jump backwards and forwards, instead of a true move to the previous (and next) tour steps.

This is a slight edge case. In most use cases this doesn't manifest as a problem, however if a tour uses non-trivial logic in callbacks (onNext, onShow etc) alon

[2019-08-29 17:39] diesl opened #27 "Use consistent version numbers"
First of all, thanks for collecting all bugfixes and new features to keep Bootstrap Tour alive 👍

But I think in order to make this project even better, you should be consistent with version numbers. I took a look around and got a bit confused by a few things. Maybe you can fix some of them:

- At [npm](https://www.npmjs.com/package/bootstrap-tourist/v/0.2.1), there is a version **0.2.1** but I ca

[2019-08-30 09:59] diesl opened #28 "Orphan should be false if element is present"
In contrast to Bootstrap Tour, when I set global option `orphan: true`, then all steps are shown as orphans wether the element is present or not.

In my opinion, steps with a valid and present element should be shown with respective placement whereas steps without a valid element should be shown as orphans.

Also, it would be desireable to differentiate between intended orphans with `element: null

[2019-08-30 10:32] IGreatlyDislikeJavascript commented on #27
The short answer.

- npm v0.2.1 is the latest, stable release
- current github repo version should be stable and considered to be candidate for v0.2.2

Either are fine to use. Npm is indeed 1 minor version ahead of github release!

-----
The long answer:

There are times when all I can do is nod, hang my head in shame, and completely agree that I utterly failed to do this correctly :-).

In my def

[2019-08-30 10:59] IGreatlyDislikeJavascript commented on #28
Interesting point, thank you. The original Tour purpose of the orphan option was to still show a step as an orphan, if that step's element was not present, exactly as you describe.

To me, that seemed illogical - if you've created a tour step against an element, it makes sense to show it against the element. If the element doesn't exist, there's an issue with the tour flow that must be handled.

T

[2019-08-30 22:07] danielmoralesp commented on #15
Hi @IGreatlyDislikeJavascript just here to thank you for this great job! tons of bugs in the original tour  :(

[2019-08-31 09:00] IGreatlyDislikeJavascript commented on #15
Thank you! But it's not just me any more, there's a bunch of other people who have also contributed to Tourist, so it's a team effort. I've tried to credit everyone in the read me and js comments.

Maybe we could entice you as well? ;-)

[2019-09-01 12:51] diesl commented on #27
I will forgive you now that I see you really regret ;)

Haha, I know that. Must be fate ;)

Thanks also for the detailed explanation of the current situation. I would suggest to

- release the 0.2.1 version with lukaszmn's pull also here on github
- change the 0.2.0 tag to the correct 0.12 tag at the second release if that's possible

The new release plan looks fine to me.

[2019-09-01 14:13] diesl commented on #28
Reading your comment, I now see your intention. Just to make clear what I meant, I will summarize my current setup:

For steps like the mentioned welcome screen, I do not have and do not intend to bind it to a specific element. I call this _intended orphan_, in contrast to an _unintended orphan_ like a mistyped selector, for example. I used `element: ''` or something similar, and `global.orphan: t

[2019-09-02 12:38] desian78 opened #29 "FeatureRequest: Better positioning."
Situation:
One of my steps have an large div as element.
The tooltip should be shown up.
So I want to position it on top-right.

My first solution was to create an hidden fake object<div> to positioning.
But as expected... the backdrop white space is also bound on this. So i have not a practical solution.

I suggest to give a positioning, that is calculated after the current calculation is done
Ju

[2019-09-03 15:54] IGreatlyDislikeJavascript commented on #28
I've written 3 or 4 replies and deleted them all, they didn't make sense and I finally realized something - the naming of global orphan option is wrong. In original Tour, global orphan and step orphan have similar but subtly different results.

Good terminology, let's use this from now on.

That was exactly my intention of the step.orphan implementation. I felt specifically setting `step.orphan ==

[2019-09-03 16:15] IGreatlyDislikeJavascript commented on #29
Good idea, thank you. I'll add this to the to-do list.

In the meantime, if you don't want to wait, you should be able to implement this yourself very easily. I haven't tested the below, so just off the top of my head...

At the bottom of this function, you will see the code that manipulates the popover position. You haven't mentioned whether you're using BS3 or BS4, so broadly the steps are:

**F

[2019-09-11 14:54] diesl commented on #28
Sorry for letting you wait, I forgot to answer.

Thanks for your detailed summary of the problem and ideas so far.

You could do it like that. However, apart from these really long option names 😉 I would suggest the following:

- Keep the global bool option orphan and use the same behaviour like the step orphans. This way, it uses the same logic (which is why you changed it), and can be overriden

[2019-09-14 10:12] IGreatlyDislikeJavascript commented on #28
No probs, I don't think anyone here does this full time, I certainly have a day job ;-)

Your suggestions make sense. 2 questions. First:

I think this should be called `showIfUnintendedOrphan` (`bool`), which I think is a better description of what we want?

Second: what's the logical behavior when a step uses `delayOnElement`?

The `delayOnElement` can wait for either the step.element or an arbi

[2019-09-15 20:36] IGreatlyDislikeJavascript commented on #23
Closing this as we're fixing it with the fork and branch

[2019-09-15 20:36] #23 closed

[2019-09-16 08:51] ibastevan commented on #23
Might be worth noting the conversation is continued here - https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/pull/24

[2019-09-16 14:09] thomasdarde opened #30 "Multi-page tour"
Hello, we use
`onNext: function() {
      document.location.href = '/backoffice/content/resellers/new?continue_tour=reseller-creation-step3';
    }`

to change page during a tour, with your (great !) fork it stops the tour, any way to bypass this ?

[2019-09-16 14:24] ibastevan commented on #30
Do you need to try `onNext: function(tour) { }` ? the word tour usually goes in the function() brackets

[2019-09-16 14:28] thomasdarde commented on #30
No it's not working . (we had this before it was lost when copy pasting)

[2019-09-16 14:48] ibastevan commented on #30
It should work if you add it to the global tour options
`var tour = new Tour({`
`onNext: function (tour, stepnumber) {
                        document.location.href = '/backoffice/content/resellers/new?continue_tour=reseller-creation-step3';
                    },`
`});`

[2019-09-16 15:02] ibastevan commented on #30
Seems to work for me on the step options itself. you just need to make sure you have it set like this on the step:
`onNext: function (tour, stepnumber) {
                        document.location.href = '/backoffice/content/resellers/new?continue_tour=reseller-creation-step3';
                    }`

[2019-09-16 15:08] thomasdarde commented on #30
Still not ok here, I'm using Safari, maybe that's why

[2019-09-16 15:11] ibastevan commented on #30
Do you have any console errors? Can you show me your step options?

[2019-09-16 15:14] thomasdarde commented on #30
no error in console;

`var tourSteps = [{
    element: "#reseller-creation-step0",
    title: "Reseller creation",
    content: "Follow the steps.",
    animation: false,
    onNext: function(tour, stepnumber) {
      document.location.href = '/backoffice/content/resellers?continue_tour=reseller-creation-step1';
      return false;
    }
  }, {
    element: "#reseller-creation-step1",
    title: "

[2019-09-16 15:15] ibastevan commented on #30
Also you need to make sure you have given your tour a unique name in the global options.
`var tour = new Tour({
                name: "myTour",`

[2019-09-16 15:16] thomasdarde commented on #30
the tour has a unique name

[2019-09-16 15:21] ibastevan commented on #30
Are your pages tabs or ajax loaded content or something because your document.location.hrefs look like tabs not pages.
If your going to a new page from a step, there shouldn't be any more steps in the array. On your new page you would need to setup a new Tour with a new array of steps.

[2019-09-16 15:22] thomasdarde commented on #30
Ok, so if this is the way it works then I understand. I did Get away by passing a param and resume the tour if needed on the next page.

[2019-09-16 15:29] ibastevan commented on #30
That's how i presume it works however don't quote me on it as I could be wrong. It just doesn't seem to be the way i am familiar with. If you are stepping between tabs within a page, or ajax loaded content, you can always try simulating button clicks such as
`onNext: function (tour, stepnumber) {
                        $('a href[href*="step1"]').click();
                    }`
Give the repository

[2019-09-16 15:37] ibastevan commented on #30
Or perhaps you found an error in your code as i see your links don't match up. In your thirst step you have resellers/new? whereas your other steps just show resellers? in the links.

[2019-09-16 18:06] #30 closed

[2019-09-17 08:48] thomasdarde commented on #30
Just if someone else is searching for the same question : their is no error in my code , it's working as expected. bootstrap-toursit seams to not support multi page tours, and a small bit of code is needed to resume the tour on another page.

[2019-09-17 10:31] IGreatlyDislikeJavascript commented on #30
Hi @thomasdarde , I'm a little unclear what the "small bit of code" is that you need to add. Just like you I use multi-page tours on pages loaded from a single root page with GET params (/index.php?page=something), and the only 2 requirements are to (a) ensure the tour & steps are set up correctly and (b) call tour.start on page load to start / continue the tour.

tour.start() will automatically r

[2019-09-17 10:33] thomasdarde commented on #30
That's more clear , so I need to "manually" call tour.start if a tour is in progress (the plugin does not automatically detect a tour is in progress and resumes it)

[2019-09-17 10:59] ibastevan commented on #30
A Little Appreciation Goes A Long Way
![thank-you](https://user-images.githubusercontent.com/48594811/65036090-8ee5bb00-d942-11e9-989f-541b7160902f.jpg)

[2019-09-17 16:26] IGreatlyDislikeJavascript commented on #30
@thomasdarde

Yes, exactly! I've just realized what you were asking :)

In short, you have to "manually" call `tour.start` because this is the only way Tourist can be certain you definitely want the tour to start. I won't write out the lengthy logic for this here, but when I worked through the scenarios it turned out there were many more cases for a "manual" start controlled by page code calling t

[2019-09-22 20:49] eformx opened #33 "Won't jump to next step when modal hidden. Fixed!"
Great mods to orig plugin; but couldn't get it to jump to the next step when a modal was hidden.  Noticed that the onModalHidden logic was not correct and flipped the methods around.  If it was the last step then hide (not goto the next), and if there is a next step goto next (not end).   This fixes the plugin.

[code]

[2019-09-23 11:42] IGreatlyDislikeJavascript commented on #33
Thanks for your contribution and finding this!

You've actually found 2 bugs, I need to look into this a bit more. _isLast() should return true if current step is the last step in the tour, however the code in that function is wrong and returns the reverse result!

So there's something not quite right here. Leave this one with me :-)

[2019-09-23 14:45] ibastevan commented on #33
To get mine working i added a couple of click functions inside the onNext, onPrev and onShown and seems to work quite well now if you need a workaround for the time being.

[code]

It seems to go to the next step quite well when you cancel or submit in your modal, although has a small delay.

[2019-09-26 17:52] IGreatlyDislikeJavascript commented on #33
I think I've fixed this isLast problem, but I've done it in the unstable/new-backdrop branch for now. It needed a few changes but we're almost ready to move the unstable branch to the master branch so I'll wait until then to push an update to master, and then close this afterwards.

Thanks for your updates and contributions guys!

[2019-09-26 18:23] IGreatlyDislikeJavascript commented on #28
I've added showIfUnintendedOrphan to the unstable/new-backdrop branch, as that will take over the master branch shortly.

[2019-09-28 14:26] IGreatlyDislikeJavascript commented on #15
Hey @thenewbeat, have you had a chance to update the docs? I think we're close to a v0.3.0 release with the new backdrop, so will have a few extra options to add to the docs.

Thanks!

[2019-10-03 19:25] Sell24 opened #35 "$modalObject not defined"
Hi,

I downloaded the latest release and, in full disclosure, am trying to get a basic tour as shown in the example to work in VueJS built on BS4 .

However, I ran into a "Uncaught ReferenceError: $modalObject is not defined" error at line 1253.
In order to fix it, I had to declare it within the Tour.prototype.showStep function.

I haven't quite got it to work yet, as it is failing in the _scrollI

[2019-10-03 19:54] Sell24 commented on #35
Just in case anyone reads my last sentence, where I could not get it to work with BS4. BS4 uses the slim version of jQuery by default. In order to use the animation features you must change to the full (minified) version.

[2019-10-03 22:23] Sell24 opened #36 "Uncaught ReferenceError: rslt is not defined"
Similar to the #35 , the variable rslt is not defined in the following function.
Tour.prototype._showNextStep = function (skipOrphan)

[2019-10-03 23:17] Sell24 commented on #36
The same variable is missing in Tour.prototype._showPrevStep = function (skipOrphan)

Despite these minor issue I do want to thank you for the work you put into improving the original.

[2019-10-03 23:54] Sell24 opened #37 "Error with BS4 and orphan = true"
Versions
BS4: 4.0.0
JQ: 3.4.1
Popper: 1.12.9

When I try to set a step as an orphan:

                                {
                                    orphan: true,
                                    title: "Title",
                                    content: "Content",
                                },

I get the following error:

util.js:146 Uncaught Error: TOOLTIP: Option "offset" provi

[2019-10-04 09:42] IGreatlyDislikeJavascript commented on #37
Hi Sell24, thanks for your feedback - I'll comment on your other issues when I get in front of the code again later.

For this issue, have you specified the `framework: "bootstrap4"` option in the global tour options? If so, I wonder if something has changed between the BS4.0.0 you're using, and current versions that's causing this. The next step I'd suggest is trying it with a current BS and Popp

[2019-10-04 11:21] Sell24 commented on #37
Sorry thought I did update to the latest, but you were right I wasnt up to date. I copied the script includes directly from the Bootstrap 4 website so I believe I am now up to date. But I am still getting the same error. So here is my latest info:

BS4: 4.1.13
JQ: 3.4.1
Popper: 1.14.3
Browser: Chrome Version 77.0.3865.90 (Official Build) (64-bit)
Framework: VueJS

To answer your question, yes I am

[2019-10-04 12:00] IGreatlyDislikeJavascript commented on #37
Ok I'll need to look into this, I'm not sure why you're getting that error. Maybe it's to do with your framework, I test Tourist against latest bootstrap 4 with popper.js bundled, perhaps there's a difference somewhere.

Whilst I try and figure out the source or next steps, would you be able to quickly try the unstable/new-backdrop branch please?

You'll need both the css and js from that branch,

[2019-10-04 12:32] Sell24 commented on #37
Sure no issues. Will test it out and report back.

Just as an aside, is it possible that the version of tourist I downloaded is not complete given the missing variable declarations as in my two previous issues? It is labelled v0.2.0 but maybe something happened?

[2019-10-04 12:57] Sell24 commented on #37
I tried it and same error. And just an FYI, those rslt variables are still undeclared.

I also realized I made a mistake on where the error is occurring. The code is referencing popover.js and not popper.js directly. I apologize for the mistake.

I will continue to look at my code and see if there is something causing the conflict.

Thanks again.

[2019-10-04 13:34] Sell24 commented on #37
Some more info:
I debugged into the code and in tooltip.js there is this declaration:

    animation           : 'boolean',
    template            : 'string',
    title               : '(string|element|function)',
    trigger             : 'string',
    delay               : '(number|object)',
    html                : 'boolean',
    selector            : '(string|boolean)',
    placement

[2019-10-04 17:02] IGreatlyDislikeJavascript commented on #37
I'm using the bootstrap bundle, although I can't see any reason why there would be a difference I suspect this is the problem.

So whilst I understand what you've posted as the decl for tooltip, it's not the same for Bootstrap popper, which wraps the initialization of popper and only exposes some popper options. The docs for popper are terrible, but you can see the function docs here: https://popp

[2019-10-04 17:04] IGreatlyDislikeJavascript commented on #36
Thank you for spotting that, I've fixed it in the development version now - which will become the main branch shortly.

[2019-10-04 17:07] IGreatlyDislikeJavascript commented on #35
Thanks for finding this one too. This is already fixed in the unstable/new-backdrop, which will become main branch shortly, so a fix is imminent.

[2019-10-04 18:20] Sell24 commented on #37
If you say it works with the bundle then I would agree with you that it is something within my code. I am using an open-source third party admin interface and I am currently going through it and removing all unnecessary add-ins and code that I can find.

I will look into using the bundle and keep messing around and see if I can find the issue.

Thanks again for your help.

[2019-10-04 20:25] Sell24 commented on #37
Well I can confirm that switching to the bundle works whereas loading them individually as per the BS4 documentation does not.

I guess I will chalk it up to "whatever". Thanks again for taking the time to answer.

[2019-10-04 20:25] #37 closed

[2019-10-14 18:05] IGreatlyDislikeJavascript commented on #29
I've run into an issue with popper.js again - it won't reliably reposition on both axis. I've opened an issue in the popper.js repo: https://github.com/FezVrasta/popper.js/issues/832

[2019-10-26 17:25] IGreatlyDislikeJavascript commented on #36
v0.3.0 uploaded into master branch, this issue should be fixed.

[2019-10-26 17:25] #36 closed

[2019-10-26 17:26] IGreatlyDislikeJavascript commented on #35
v0.3.0 uploaded into master branch, this issue should be fixed.

[2019-10-26 17:26] #35 closed

[2019-10-26 17:26] IGreatlyDislikeJavascript commented on #33
v0.3.0 uploaded into master branch, this issue should be fixed.

[2019-10-26 17:26] #33 closed

[2019-10-26 17:26] IGreatlyDislikeJavascript commented on #28
v0.3.0 uploaded into master branch, feature available!

[2019-10-26 17:26] #28 closed

[2019-10-26 17:27] IGreatlyDislikeJavascript commented on #27
v0.3.0 is now the master branch, and will be a release. I won't push it to npm as it's a major change and want to let it bed in some more first.

[2019-10-26 17:27] #27 closed

[2019-10-29 17:02] 1Luc1 opened #38 "[v0.3.0] tourHighlight div not correctly positioned"
Hello,

Just updated from v0.2.0 to v0.3.0.

v0.2.0 worked without any problems. I know there where some significant changes within v0.3.0, but i don't know where i have to adapt my code to fit version v0.3.0.

Currently there is a problem with steps, which have set and `'element':'#element-id'` and `'backdrop':true`. The generated `<div id=tourHighlight .. />` is out of place from the element.

!

[2019-10-29 18:43] IGreatlyDislikeJavascript commented on #38
Thanks for the report. Does it happen in every tour step that has an element and a backdrop?

Are you able to reproduce this in a fiddle or codepen?

The upgrade from v0.2.x to v0.3.0 doesn't require any code changes, simply replace the css and js.

[2019-10-29 19:23] 1Luc1 commented on #38
Thanks for your reply. In this fiddle you could see the problem.
https://jsfiddle.net/upg02zwe/

As i can see, it only happens to steps with element and backdrop.
Could the use of Bootstrap v3.4.1 be the Problem?

[2019-10-29 19:27] IGreatlyDislikeJavascript commented on #38
No, it's unlikely to be a bootstrap problem, it's probably a Tourist bug. I'll take a look at this tomorrow, and @ibastevan might have some suggestions too. Thanks for the report, bear with me while we figure it out.

[2019-10-30 18:54] 1Luc1 commented on #38
Thank you for your reply. Ah sorry, i probably was a little bit unclear about the problem.

Here is a fiddle with Version 0.2.1
https://jsfiddle.net/x0mda4z2/
As you can see, the blue icon is visible.

With version 0.3.0 https://jsfiddle.net/upg02zwe/ the icon is covered with a grey box, like you see on your screenshot.

The code within those two fiddle is the same, except the used tourist librari

[2019-10-30 19:36] IGreatlyDislikeJavascript commented on #38
Ah I think I see what you mean. I'm not in front of a machine for a bit, but please try this.

If you add `backdropOptions: {backdropColor:#000}` to the step with the black element background, see if that fixes it.

I can give you proper instructions tomorrow, but in the meantime have a look at the comments at the top if the .js for this option.

It works per step and globally, so if all your elem

[2019-10-31 03:34] 1Luc1 commented on #38
Thanks for your reply. I tried the backdropOptions : backdropColor as well as highlightColor and highlightOpacity with various configurations, but couldn't get the desired result.

[2019-10-31 08:31] ibastevan commented on #38
I think it could be to do with the offset, you could try this:
‘’’
backdropOptions:
{
	animation:{
				highlightShow:	function(domElement, step)
								{
									// easy!
									step.fnPositionHighlight();
									domElement.fadeIn();
								},
			}
}
‘’’

I will check the fiddle when I’m at my computer.

[2019-10-31 08:33] ibastevan commented on #38
But if it’s on a black ground it may best either disabling the backdrop for that step, or change the opacity on the highlight to 0

[2019-10-31 09:11] ibastevan commented on #38
Can you send a screenshot with the highlightcolor option being set to black?

When you say you couldn’t achieve your desired result, are you able to send a screenshot of your desired result? Or explain what your looking to achieve?

(If you use inspect element tool on your browser developer options (Ctrl+Shift+C) you can manipulate the Step code on screen)

[2019-10-31 09:45] ibastevan commented on #38
I am at my desk now, and initial checks seem to be that this could be to do with the z-index. The z-index of the tour-highlight-element class doesn't seem to be moving the element above the backdrop and highlight layer.

I am just having a play around with the fiddle, so hopefully find out what the issue is.

[2019-10-31 10:03] ibastevan commented on #38
The new backdrop works with z-indexing and the issue here is to do with the element being inside the navbar which has a fixed position and z-index. It is definitely a tourist bug as the navbar is a standard component of bootstrap. Thanks for spotting this and I will look into this issue. Hopefully there is a workaround.

[2019-10-31 10:06] IGreatlyDislikeJavascript commented on #38
@ibastevan so it's a css issue? Think you'll be able to solve this better than I can! Let me know what you find and we can implement a fix into Tourist.

[2019-10-31 10:09] ibastevan commented on #38
Yes the step element is inheriting the z-index from the navbar z-index (1030), the backdrop and highlight divs have z-index's of 1110 therefore they are appearing over the step element. The step elements z-index 1111 has no effect. Hopefully there is a workaround.

[2019-10-31 10:23] ibastevan commented on #38
Currently there are only 2 workarounds i know of.

1. The step element needs to be moved out of the navbar.
2. The navbar needs to have it's position and z-index removed.

Obviously neither of these options are ideal solutions because there would be a reason why the navbar has had the class "navbar-fixed-top" added. And there will be a reason why the element has been added to within the navbar.

[2019-10-31 10:43] ibastevan commented on #38
There could be another solution but this could major rework of the code.

If we moved the tour-highlight div to inside the navbar (right above the tour-highlight-element) and added in an additional tour-backdrop div under the tour-highlight div we could make it work without having to change anything else.

We would do this because the tour-highlight, tour-backdrop and tour-highlight-elements need

[2019-10-31 10:51] ibastevan commented on #38
Here's a fiddle of the desired output: https://jsfiddle.net/bhx2urLz/
You can see in the html the new divs inside that make it all work.
@IGreatlyDislikeJavascript do have any ideas how we could incorporate this?
So basically this would be an option for steps that reside inside parents that have a position or z-index (such as the navbar).

[2019-10-31 11:22] ibastevan opened #39 "highlightOpacity on backdropOptions"
I noticed the highlight opacity only applies when you step from previous or next. If you apply the backdropOptions highlightOpacity on initial step or page reload, it doesn't apply the Opacity.
[code]

[2019-10-31 12:10] IGreatlyDislikeJavascript commented on #38
I'll need to take a look at this and the fiddle, it's a bit hard to picture it without sitting in front of a proper screen!

My first thought is that if we can't solve this using the container option, we'll be able to solve it with the divs. It's easy enough to reposition/restructure them, but I need to get clear in my own mind what has to happen. Let me take a look later on today.

[2019-10-31 12:41] ibastevan commented on #38
Unfortunately not, !important is already applied! It's to do with elemenets being a child element of a parent with position and/or z-index. This website explains it in some detail - [https://coder-coder.com/z-index-isnt-working/](url)

[2019-10-31 18:01] tszulc commented on #16
@IGreatlyDislikeJavascript would you be able to update the version on npm again?

https://www.npmjs.com/package/bootstrap-tourist
![Screen Shot 2019-10-31 at 13 55 07](https://user-images.githubusercontent.com/9540586/67972985-154e1780-fbe6-11e9-85da-860de34743cd.png)

[2019-10-31 18:01] IGreatlyDislikeJavascript commented on #38
Hang on, this is crazy complicated. Do intro and shepard have the same issues and deal with it in the same way?

Essentially we have to have 2 backdrops - 1 is the "real" backdrop, and the other is the backdrop for all elements that are inside the (grand)parent of the step.element?

I think we can fix this using your code and perhaps a new step flag to internally track the new elements. I'll need

[2019-10-31 18:08] ibastevan commented on #38
It doesn’t seem all that complicated? I’m not sure but it could be worth while looking into their code or maybe doing a fiddle and see how theirs works on this type of step. They must have faced this issue and overcome it inside the JavaScript as it’s definitely not something that can be fixed using css... or they may not even have a solution.

[2019-10-31 18:28] IGreatlyDislikeJavascript commented on #38
Getting the base functionality in Tourist is straight forward, it's the other cases I'm concerned about. The preventInteraction div will need fixing, all the modal handling changed, and all the animation capability we added (to the highlight etc) will be lost because we have to create and destroy a new set of divs so there's no transition anymore.

Let's take a look at intro and shepherd, see if t

[2019-10-31 18:40] IGreatlyDislikeJavascript commented on #39
That's odd, I can't reproduce that. These steps correctly set the opacity on the first step for me:
[code]

I can't see a bug in the code either, the flow is the same for first step/reloaded step and any subsequent step:

`showStep() -> showStepHelper() -> _showPopoverAndOverlay() -> _updateBackdropElements() -> if backdrop not visible -> _showBackdrop() -> _showHighlightOverlay() -> $(DOMID_HIGHL

[2019-10-31 18:43] IGreatlyDislikeJavascript commented on #16
@tszulc I don't want to update to v0.3.0 on npm just yet, because people may pick it up automatically. Although we've tested v0.3.0 a lot, it's a fundamental change to how the visual appearance is created. I'd prefer to wait a bit longer before pushing to npm (and risking breaking someone's site inadvertently). We've already had one bug report due to an interesting z-index issue, currently under i

[2019-10-31 20:11] ibastevan commented on #38
That's true, I think it will be ok for preventinteraction and modal dialogs but we should definitely get a fiddle working and check out the other tour plugins.

[2019-10-31 20:31] ibastevan commented on #38
Intro seemed to have this issue - https://github.com/usablica/intro.js/issues/96
I tried playing around with a fiddle and it doesnt seem to work out of the box on fixed position steps.
I will look more into it tomorrow when i am at my desk.

[2019-10-31 20:47] IGreatlyDislikeJavascript commented on #38
Good to know intro has the same issue, thanks for putting that together.

I'll look into the code more tomorrow too. I see what you mean that preventInteraction will still work. I'm not sure about objects in modals, think we need to work through that use case if there's a fixed in a modal... Or maybe it's handled in exactly the same way and solving the fixed issue will solve it everywhere.

I thin

[2019-10-31 21:05] RundleSG opened #40 "Bootstrap 4 popover container option (not a Tourist bug)"
First off, thank you for all the fixes bootstrap-tourist has done!

As I understand it, bootstrap-tourist "includes" the Bootstrap **popover.js** & **tooltip.js** libraries. This works great for my current project, as it requires a "Tour" as well as the use of popovers separately.

So my questions are as follows:

1. Is my above assumption correct? In that including bootstrap-tourist should enable

[2019-10-31 21:20] ibastevan commented on #38
Are we creating/destroying new divs though? Is it not just moving the already created divs to a different location?

[2019-11-01 09:32] IGreatlyDislikeJavascript commented on #38
Then maybe I'm misunderstanding how to solve this. I thought the problem was an element in a parent container with a z index, which causes it to "ignore" the tourist z index css setting for the tour step. To solve it, we had to:

1. adjust the z index of the element parent above the normal tourist backdrop divs
2. create new highlight and backdrop divs as siblings to the element
3. Adjust z index

[2019-11-01 10:18] ibastevan commented on #38
I don't think your misunderstanding it, i think that you can see all the potential issues that can arise from making adjustments, you're looking at the "bigger picture".

It depends how we go about it. Essentially if we want to keep the users from having to alter any of their existing html, then the best way going about it would be leaving the z-indexes as they are. We don't need to create a new h

[2019-11-01 11:56] ibastevan commented on #38
I havent tested my commit in any other scenarios but this should should do the job for @1Luc1.
Just need to add this to the steps inside the navbar.
[code]
@IGreatlyDislikeJavascript I am sure you will need to more elegantly refactor this into tourist and we will need to test the other use cases.

[2019-11-01 12:20] ibastevan commented on #39
That's strange, i did a fiddle and it seems to work ok - https://jsfiddle.net/a8x67z31/.
But it doesn't work on my site. I will try and do some testing.

[2019-11-01 12:55] 1Luc1 commented on #38
Thanks for you commitment!
I just tried it and it looks like in v0.2.0. Unfortunately after closing the help, the element `<div class="tour-backdrop" id="tourBackdrop-temp"></div>` is still there, which keeps the whole thing black.

[2019-11-01 13:16] ibastevan commented on #38
This is a hacky way to fix that but until we have time to properly address this issue I would recommend adding this to the step so you are not held back

[code]

[2019-11-01 14:51] ibastevan commented on #39
This is a bit strange. None of the backdrop options will work on a page load.
For some reason it thinks every step of my tour is true for `if(typeof step.backdropOptions.animation.highlightShow == "function")` so, the highlight function in the "else" statement is invalid for my tour.

[2019-11-01 14:53] ibastevan commented on #39
I can't reproduce the error in a fiddle. So i wonder if something is causing a conflict on my site.
I will need to go through it all and figure this out. If you have any suggestions on where i should look that would be great, otherwise i will let you know how i get on with my debugging.

[2019-11-01 15:30] ibastevan commented on #39
Ok so i found the issue. It seems to be my version of jQuery 2.1.4 is not compatible with tourist.
If i upgrade to 3.3.1 it works just fine.
My company is moving to bootstrap 4 next week so i guess i will just have to wait until then.

[2019-11-01 16:28] ibastevan commented on #40
Hi @RundleSG Have you included the bootstrap "bundle"? This contains the popover and tooltip code.
From what i gather, we need to include these scripts for popover and tooltips to work.
You can get them from the CDN here- https://www.bootstrapcdn.com/
To use bootstrap 4 version of the tour, you can add in the tour options `framework: "bootstrap4"`

I am sorry i cannot be any more of help, but I am

[2019-11-01 17:03] RundleSG commented on #40
Hi @ibastevan,
Thanks for the help! I appreciate it.

Yes I have included the bundle, as bootstrap-tourist is not standalone (I should have mentioned that in my post).

My popups and tours function perfectly otherwise.
I've included some screenshots the markup from the official BS3 & BS4 documentation, hopefully you can see the difference.
Does that make more sense?

<img width="1142" alt="Screen

[2019-11-01 17:19] ibastevan commented on #40
So the way bootstrap tourist works, is the popover html is generated on the fly based on the steps you create in the step array.
Here is an example of what my tour code looks like:

I start my tour by clicking on a button with the ID startTourBtn
[code]
My steps go inside the TourSteps array
[code]
This is my code for the tour setup:
[code]

In regards tp the popover html, that is autogenerated in

[2019-11-01 18:26] IGreatlyDislikeJavascript commented on #39
Good to know jquery compatibility. Strange that it doesn't work on page load though, it's the same $.css() call. Maybe it's a jquery bug... Shall we close this or dig into it out of interest to find the cause?

[2019-11-01 18:27] IGreatlyDislikeJavascript commented on #38
I think a new thread/pull is a good idea, thanks. Let's take this over to your pull, I want to work through it a bit more.

[2019-11-01 18:41] IGreatlyDislikeJavascript commented on #38
Ok can't see your pull :-) ...

Then on next/previous we would need to destroy the cloned backdrop div and move the highlight back to its original place.

Right sorry that's my misunderstanding. I forgot how insertBefore/insertAfter worked, I thought it created clones by default, but I checked docs and it only creates clones if there are multiple DOM elements.

Now I've worked it through in my hea

[2019-11-01 18:45] ibastevan commented on #38
I tried moving the highlight but it breaks the animations so had to clone that one too and just hide the original using -1 zindex. I haven’t done a pull, just updated my fork today. Other than that all sounds about right! I won’t be back online till Monday

[2019-11-01 18:46] IGreatlyDislikeJavascript commented on #40
@ibastevan awesome reply as always, thank you :-)

@RundleSG the only thing I can add is that Tourist uses the native Bootstrap (3 and 4) popover functionality. If you use BS3, it's popover. If you use BS4, it's popper.js.

So the positioning of the code in your DOM is determined by Bootstrap, not by Tourist. Tourist simply calls `element.popover()` to show each step against a DOM element (https:/

[2019-11-01 18:48] IGreatlyDislikeJavascript commented on #38
Yeah, the animation etc was my concern. Does it look right when you clone it? Surely the animation would still break, because the cloned highlight is bounded to a container, so it can't seamlessly work.

If I get time, I'll grab your fork and test out some options over the weekend, otherwise we can pick this up next week. Thanks as always :-)

[2019-11-01 18:51] IGreatlyDislikeJavascript commented on #40
Probably should add that the global container and step.container options simply pass their values directly through to the Bootstrap popover. Line 2204:

`container: step.container`

[2019-11-01 18:58] RundleSG commented on #40
@ibastevan @IGreatlyDislikeJavascript
Thanks for bearing with me...
 I'm trying to accomplish 2 things here, which may be my problem.
1) Create a tour (using BS4 which I defined in the tour with the `framework` key. The tour actually functions fine so far, and worked right after dropping bootstrap-tourist in. :D

2) Additionally, I'm creating multiple "popovers" (see screenshot). These also functi

[2019-11-01 18:59] ibastevan commented on #38
I think it’s working quite well cloning it. Should be ok!

[2019-11-01 19:12] ibastevan commented on #40
I think I’m starting to understand what you’re trying to accomplish. Basically your popovers (separate to tourist popovers) are not popping up next to the buttons?
Or is the tourist popovers not showing in the right place?

[2019-11-01 19:17] ibastevan commented on #40
For tourist you can set the position using `placement: "auto" `
I’m not all clued up yet how it works with BS4.

[2019-11-01 19:30] IGreatlyDislikeJavascript commented on #40
So it's the DOM code position, not the UX visual? Can I ask why you need the popover to appear next to the element in the DOM code? If the popover is visually appearing in the right place, is there another wider issue?

The container option does get passed direct to popper.js (BS4), so either it's not working in the Bootstrap/popper code (I'm not surprised if so, I've already found and reported bu

[2019-11-01 19:37] RundleSG commented on #40
@ibastevan Thanks, they're rendering okay.
It's more of the **placement of markup in the DOM** of the popovers.
The way they currently render, makes it really hard to do any conditional CSS.
[code]

I would like the popup to render in the #inner2 div, after the <a>

@IGreatlyDislikeJavascript
I'm trying to determine where the issue stems from, it worked fine with **bootstrap-tour**, I dropped in *

[2019-11-01 19:43] IGreatlyDislikeJavascript commented on #40
Right I got it now! So I'll need to trace through the code and try to figure out why it's not being added to the DOM in the right place. It could well be another issue with popper.js and bootstrap.

Just so I'm absolutely clear: does the "wrong code position in DOM" happen if you use BS4 popover functionality as well? Or does it only happen to Tourist popovers, and regular native BS4 popovers are

[2019-11-01 20:17] RundleSG commented on #40
@IGreatlyDislikeJavascript
Okay awesome!

Crap, maybe I explained it wrong again.
The code snipped I provided in [my comment above](https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/40#issuecomment-548911151) and then the [DOM example in my other reply](https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/40#issuecomment-548923716) is for generating the BS4 pop

[2019-11-01 21:30] IGreatlyDislikeJavascript commented on #40
Okay, got it! I could be brutal and just close this as it's not a Tourist issue, but I'm not that cruel ;-)

I think I may have an idea. Now I've looked at your jquery code again, try changing the container option to a DOM element. You shouldn't set this to bool, it's expecting an element id. See here: https://getbootstrap.com/docs/4.0/components/popovers/#example-using-the-container-option

Let m

[2019-11-01 22:01] RundleSG commented on #40
If it's not a tourist-issue (which you confirm) I can create a issue over on the BS repo.
I just wasn't sure if anything was changed, I was under the impression that the code was forked and tweaked for tourist, which I now know not to be the case.

I did try that, `false` and `body` seem to give the same result. In BS3 if I set it to `false` i believe it automatically appended the popover to the b

[2019-11-01 22:16] ibastevan commented on #40
That’s an interesting way of setting it, I tend to just go by the popover ID for any conditional css but I can see how that would make things easier being in the buttons wrapper. Very good to know as I didn’t even know this was possible!

Very interested to see if we can get this working!

[2019-11-02 00:33] RundleSG commented on #40
@ibastevan Now you're making me doubt myself lol. I will verify tonight that BS3 popovers act that way.

[2019-11-02 11:39] IGreatlyDislikeJavascript commented on #40
Okay I have this working perfectly using default BS4 functionality, so it's not a BS4 bug - I think its your local scenario or code. I can't create a fiddle because we need to look at the live code, but in short here's all I did:

First I created a BS4 project using latest jquery and BS4 from CDN. I also started with sbadmin template just to have something real-world as a base.

Next I added a dom

[2019-11-02 13:11] ibastevan commented on #40
It might be worthwhile seeing all the scripts and versions on your page. I had issues with jquery 2.1.4 so there could very well be a conflict somewhere. If you can do a fiddle that would be even better

[2019-11-02 18:32] IGreatlyDislikeJavascript commented on #15
Documentation in the repo!

[2019-11-02 18:32] #15 closed

[2019-11-02 20:58] RundleSG commented on #40
@IGreatlyDislikeJavascript  @ibastevan
Thank you both very much for your thoughts. Sure maybe leave it open for a bit, I'll post any of my findings from further experimenting.

[2019-11-02 21:59] RundleSG commented on #40
I've created a few codepens to tests this out.

1) [Vanilla BS3 popovers ](https://codepen.io/RundleSG/pen/LYYeBVW)

- Popover positions it self how I want (DOM markup - you'll have to inspect)

2) [Vanilla BS4 popovers](https://codepen.io/RundleSG/pen/ExxopVK)

- Popover positions itself with <body> as container (different than how BS3 behaves by default)

3) [popovers & tour with popper + BS4 +b

[2019-11-03 13:04] IGreatlyDislikeJavascript commented on #40
Okay, now I really do understand :-) . In short, BS3 popovers have the popover DOM code added as an immediate sibling to the element they are describing. In BS4, even with the container option, popper.js appends the popover code to the element or container parent.

Here's the bad news: what you want isn't possible "natively". Bootstrap 3 uses popover, Bootstrap 4 uses popper.js. They behave fundam

[2019-11-04 02:18] RundleSG commented on #40
@IGreatlyDislikeJavascript
Wow you went above and beyond, thank you for that.
Okay that makes sense, I wasn't aware of all that regarding BS4 (I'm really still getting up to speed on it, Drupal has been a bit slow to adopt BS4). I'm going to give your solution a try tomorrow morning, maybe it could help someone if they ever have this specific issue (doubtful).

Really appreciate all your help!

[2019-11-04 10:40] ibastevan commented on #39
I would like to say let's just go ahead and close this as i am now on 3.3.1. Only thing i can think of is if this issue is in jquery 1.12.4 because anyone using Wordpress will have this issue as Wordpress uses 1.12.4 and that wont be changing anytime soon.

[2019-11-04 11:07] ibastevan commented on #40
@IGreatlyDislikeJavascript that is a brilliant work around, I am sure this be useful for others.
@RundleSG thank you for creating those examples on codepen, i am sure they too will be of use for lots of people here!

I remember you mentioning earlier that you need the popover inside the #inner div so you can write some conditional css for it. I was just wondering if it would not be easier to just

[2019-11-04 11:44] ibastevan commented on #37
There is definitely something going on, I can't get orphans working with Bootstrap bundle v4.1.3.
I updated mine to v4.3.1 and it is now working.
So perhaps we need to state this somewhere as a minimum compatibility?

[2019-11-04 13:44] IGreatlyDislikeJavascript commented on #37
I'll add that to the docs. It's got to be due to changes to BS and popper in the intervening versions.

[2019-11-04 18:18] tszulc commented on #16
@IGreatlyDislikeJavascript typically if a version is released/tagged on github, it's usually available on whichever package manager(s) shortly afterwards. However, since we're not fully following the [semantic versioning spec](https://docs.npmjs.com/about-semantic-versioning), I agree with the idea of waiting for a fix. Going forward I would highly recommend that we do the following:
1. follow sem

[2019-11-05 11:31] IGreatlyDislikeJavascript commented on #16
Okay, thank you. I've screwed this up again, annoyingly, despite my best effort.

The semantic versioning thing confuses me. I know the principle isn't difficult to understand, but my logic was simple - and apparently wrong. I moved to v0.3.0 because:

- this wasn't a major breaking change (so keep 0.x.x)
- it was a measurable change to backdrop functionality (so increment to 0.3.x)
- there were n

[2019-11-05 21:24] tszulc commented on #16
That's alright.

I've made a PR that updates the README, adds a CHANGELOG, and a package.json, as well as adds a script to allow cutting a release: IGreatlyDislikeJavascript/bootstrap-tourist#41

[2019-11-06 12:19] IGreatlyDislikeJavascript commented on #16
Fantastic, thank you. I don't know how you did all that, but it's really appreciated - I hope you have an automated tool and didn't need to do it all by hand :-) .

I'm going to merge your PR and mark it as v0.3.1 release now.

One question - I assume I'm still OK to **not** release this on npm, because we still have the question over the backdrop? Or if I mark it as a release, am I supposed to al

[2019-11-06 12:36] IGreatlyDislikeJavascript commented on #38
@ibastevan I've just merged tszulc's pull into master, because he's done a great job sorting out the npm structure stuff that I don't know about.

So I think the easiest thing to do is for me to manually add your changes into master. Have you made any changes other than the ones shown in the commits in this thread?

[2019-11-06 14:31] tszulc commented on #16
I agree with waiting on releasing this for now, until a fix is found, and once that's added, I would bump the versioning to a MAJOR update (ie. v1.0.0), and continue from there.

Seem I forgot to add a link to the package in the PR: [conventional-changelog/standard-version](https://github.com/conventional-changelog/standard-version)
These are the steps we should follow whenever there's a PR or bra

[2019-11-07 18:08] IGreatlyDislikeJavascript commented on #16
Thank you for taking the time to explain this to me.

I think now might be a good time to point out that I simply use the web interface of github. Sorry :-(

I've read through your example and the npm release documentation. I think I get it, but the exact effect of the process is a bit hazy. One question: why are your steps 5 & 6 in that order?

Step 5 creates a github release automatically, and s

[2019-11-07 18:09] #39 closed

[2019-11-08 06:01] PhantomYdn commented on #5
Hello!
It's strange, but it seems that webjars see only old version of the lib - max is 0.2.1, but according to github it should be 0.3 already in NPM. Please advice how to get the recent version.

And thank you for your work!

[2019-11-08 13:31] IGreatlyDislikeJavascript commented on #5
@PhantomYdn you're welcome, glad you find Tourist useful.

The latest version of Tourist is marked as a release here on Github - please use that one for the moment. Please also take note of the changelog and the significant update to backdrop in v0.3.x

As for npm, semantic versioning and all the stuff that makes life easy: the issue is my complete failure and lack of knowledge :-) . Please see th

[2019-11-08 15:02] tszulc commented on #16
Since the package only makes the changes locally, we have to push those changes up to actually create a _release_.
- So first we get the most recent version of master (`git checkout master; git pull origin master`), after we've merged the branch/PR, or added a commit.
- Then we run the package (`npm run release`), to update the CHANGELOG, and it bumps the version in the package.json file, and crea

[2019-11-08 16:07] IGreatlyDislikeJavascript commented on #16
Thanks for taking the time to explain this, it makes sense now - and I'm sure will make even more sense when I do it the first time.

As above I'll pause doing this until we've got the backdrop question fixed. I think ibastevan has already fixed it but it's not in a PR, and unfortunately I've run out of time to diff his fork before vacation (not so unfortunate for me!). Assuming all is well, I'll

[2019-11-08 16:08] IGreatlyDislikeJavascript commented on #40
Closing this one as I think we've kind of solved it, and it's also not a Tourist issue!

[2019-11-08 16:08] #40 closed

[2019-11-08 16:26] ibastevan commented on #38
@IGreatlyDislikeJavascript i havent made any changes. Well done for all your hard work, have a nice holiday!

[2019-11-08 16:39] diesl commented on #28
I'm sorry, I forgot to answer in a timely manner again. But it is never too late to say thank you for fixing this issue.

[2019-11-08 16:45] diesl commented on #27
But you already released it here on Github. What's the difference? I you release it, it should be released everywhere.

If you are unsure about stability I suggest to tag the version as _beta_.

By the way, `bootstrap-tourist.js` has the wrong version number in its top comment.

[2019-11-11 21:11] tszulc commented on #27
We have started on the process to get the package on the same version, and following semantic versioning. Read more here: IGreatlyDislikeJavascript/bootstrap-tourist#16

[2019-12-05 18:00] IGreatlyDislikeJavascript commented on #38
I'm back :-) . @ibastevan I've incorporated your changes into repo & release v0.3.2 (on github) - thank you!

I'll do the npm update shortly as per the other thread.

[2019-12-05 18:02] IGreatlyDislikeJavascript commented on #29
I now think this may be fixable. Bootstrap team have responded and fixed the issue in BS4.4.0.

I 'll try to implement it again and test it over the next weeks. If it all works, it does unfortunately mean you'll be forced to update Bootstrap but there's no way round that.

Progress to follow.

[2019-12-05 18:13] IGreatlyDislikeJavascript commented on #29
Nope, I jumped the gun. There are definitely 2 issues. The BS4 issue has been fixed, but the popper issue remains. We need to wait for the fix in popper v2 release, so unfortunately this issue is on hold again.

[2019-12-09 18:42] IGreatlyDislikeJavascript commented on #16
@tszulc thanks for your help with this, I think I've successfully published v0.3.2 to npm now. However I got a bunch of errors when attempting to `npm run release` . I don't know if this is a problem or not?

[code]

[2019-12-09 19:48] IGreatlyDislikeJavascript commented on #38
Updated on NPM, thanks for everyone's input and support!

[2019-12-09 19:48] #38 closed

[2019-12-10 05:53] 1Luc1 commented on #38
Thanks for your work. Sorry for my late response.

Just tested the new version 0.3.2 and unfortunately it doesn't seem to work as indented.

**As of with version 0.2.1:**
https://jsfiddle.net/x0mda4z2/
As you can see, the blue icon is visible.

**With version 0.3.2:**
https://jsfiddle.net/szkod0jn/
the blue icon is not visible
Also there is a slightly delay where the backdrop is visible for quite

[2019-12-10 18:24] IGreatlyDislikeJavascript commented on #38
@1Luc1 thanks for your feedback. I'm happy it does work, so I'm not going to re-open this yet :-) . Have a look at this fiddle: https://jsfiddle.net/bL4s7z91/1/

To test it, simply run the fiddle and click the burger to show the hidden bar. The tour step will immediately show correctly.

Here's what I did.

1. Added the `backdropOptions` object to tour step.
2. Added `backdropOptions.highlightColo

[2019-12-10 22:17] tszulc commented on #16
@IGreatlyDislikeJavascript did you run `npm install` before? It doesn't seem like you have the `standard-version` package installed on your machine

[2019-12-11 17:08] IGreatlyDislikeJavascript commented on #16
@tszulc no, I didn't do that. I'll do that in prep for the next major version release. Thank you.

[2019-12-12 06:50] 1Luc1 commented on #38
Thanks for the clarification! Now it works quite well; one thing still confuses me a little bit and maybe thats as well some configuration problem.

If i set up the example without backdrop there is a short time where a **black screen appears and disappears** followed by the actual tour dialog.
https://jsfiddle.net/q6eb27oj/
(click on the icon) tested with FF, Edge, Chrome

Within my understanding

[2019-12-12 17:15] IGreatlyDislikeJavascript commented on #38
I think you found a bug, but it's not the bug you think :-)

So with your fiddle, you must use the delayOnElement option. Simply, the tour is started when you click the burger. But the transition effect to show the navbar, and therefore for $("#tourHelp").visible() === true , takes longer than the tour to initialize. You must tell Tourist that it should wait for the element to be visible.

However

[2019-12-12 17:20] IGreatlyDislikeJavascript opened #42 "Tour initialization flashes / visible backdrop"
Reported her: https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/38#issuecomment-564875282

Caused by div initialization creating the backdrop div as visible, even when tour has hidden backdrop.

For an interim fix, locate `Tour.prototype._createOverlayElements = function ()` and create `$backdrop` / `$highlight` as hidden, or change the CSS tour-backdrop and tour-highlight clas

[2019-12-15 23:29] diesl opened #43 "Backdrop covers only the viewport and can be scrolled away"
The title already says it, the backdrop covers only the viewport and can be scrolled away if the page has more content outside the viewport.

I my opinion, the backdrop should cover the whole page instead of only the viewport.

Example: docs.html

[2019-12-15 23:45] diesl opened #44 "Offset calculation of highlighted element is wrong sometimes"
Sometimes, the offset calculation of the highlighted square is wrong. I am not sure why this is happening, but now I figured out how to reproduce it.

Steps to reproduce:

1. Open docs.html, then start the tour
2. Go to step 2. Box is correctly aligned with element `#intro`
3. Go back to step 1
4. Go to step 2 again. Box is incorrectly aligned with an offset.
5. Go back to step 1
6. Go to step 2 a

[2019-12-16 18:40] IGreatlyDislikeJavascript commented on #43
Thanks for the report. Please let me double check this - I saw this bug previously, but it was caused by the underlying page having a broken/missing tag.

Whilst I take a look, please can you revalidate your HTML on your live page and just make sure it's not a broken tag?

I know that docs.html has this issue, e.g.: line 556 is missing the closing > on the span (I just ran it through W3 HTML valid

[2019-12-16 18:42] IGreatlyDislikeJavascript commented on #44
Yep, that's odd. I can reproduce this in my local env, but only on some pages. sbadmin template seems susceptible to it. Needs some investigation, please leave it with me.

[2019-12-16 21:09] diesl commented on #43
I tried a shortened docs.html with no HTML validation errors and got the same result.

I suppose it is simply a wrong CSS declaration. When I use `position: fixed;` on `#tourbackdrop`, it works fine.

[2019-12-21 17:50] IGreatlyDislikeJavascript commented on #43
Great, thank you for the fix. I'll try and get that added before Christmas but, well, it's Christmas!

[2020-01-20 02:31] sdlins commented on #43
@IGreatlyDislikeJavascript and @diesl,

The option `position: fixed` results in:

![image](https://user-images.githubusercontent.com/412490/72694210-f12e1280-3b12-11ea-80e0-a7fd50c65f6b.png)

I tried to adjust the `z-indez` but with no success. The only workaround working for me is:
[code]
That results in the follow while still covering the full page:

![image](https://user-images.githubuserconten

[2020-01-20 02:48] sdlins opened #45 "reflexOnly: true allow proceed if using keyboard arrows"
Hi,

The option `reflexOnly: true` works fine when using mouse clicks but fails to prevent to proceed when using keyboard (arrow right) in that case it will proceed normally.

[2020-01-20 19:23] IGreatlyDislikeJavascript commented on #45
Thanks for the report, this should be easy to fix via the keyboard handler. I'll update the repo with a fix shortly (next couple of days).

[2020-01-20 19:26] IGreatlyDislikeJavascript commented on #43
That second screenshot is odd, looks like the backdrop div has jumped above the popover zindex which shouldn't be possible if the only change you made was the height. I'll continue looking at this.

[2020-01-22 09:19] luisanogueira opened #46 "Element not clickable when its ancestor has a position fixed and z-index lower than the tour-backdrop which is sibling"
Hello! I am having an issue similar to one that was already closed, however the solution there proposed didn't work for me. I am not sure if I am missing something here, but this is the closed issue related to mine:

https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/38

I have a side menu (#sidebar) on my webpage which has a position fixed and has a z-index value of 1010. Howev

[2020-01-22 19:22] IGreatlyDislikeJavascript commented on #45
Repo updated, this should now be fixed. I'll leave it open for a few days for you to confirm and close. Thanks!

[2020-01-22 19:33] IGreatlyDislikeJavascript commented on #46
Thanks for your report (and your feedback!). Unfortunately ibastevan has left us, so I'll have to try and figure this one out ([I'm not a web coder](https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist#policy-on-npm-semantic-versioning-releases-code-structure-etc)).

I understand the issue. CSS etc isn't my thing and trips me up repeatedly. So if you (or anyone) can explain "how" to fix

[2020-01-23 08:30] luisanogueira commented on #46
Hey, so I am also not sure what would be the best solution in this case, but maybe something more dynamic. If I understood right, what the solution did is that when you include the backdropSibling: true, it reduces the z-index of .tour-backdrop element to 1029, which was fine on the previous issue because the z-index of the fixed sibling of the tour-backdrop was higher, but is not on mine because

[2020-01-27 21:20] sdlins commented on #45
@IGreatlyDislikeJavascript sorry, I still haven't had time to check these changes! But we can close this, I think. When I can test it, I will give you a feedback here. Thank you too.

[2020-01-27 21:20] #45 closed

[2020-02-19 11:17] codemunkie15 opened #47 "[Feature request] Add highlight padding option"
Is it possible to add an option to specify an amount of padding on the highlight? Currently the highlight uses the bounds of the element but I would like to add a small gap so the highlight is bigger than the element.

Something like this should do it?
[code]

Thanks

[2020-02-19 11:25] codemunkie15 opened #48 "[Feature request] Ability to highlight multiple elements at once"
I have a bootstrap grid and I want to highlight two of the three columns for a tour step. I tried to give the columns a common class and use that as the element but the tour step appeared twice, one for each column. I also tried to wrap the two columns in a div and give that an id to use but that breaks the bootstrap grid.

Is this possible to implement? Maybe a separate selector for the highlight

[2020-02-19 19:21] IGreatlyDislikeJavascript commented on #48
Yes, you can implement this (incidentally with the same solution as for your other report). I'm a little pressed for time, but have a look at `backdropOptions.animation` per-step options in the documentation.

Overriding these options and providing your own function allows you to position the highlight yourself, instead of Tourist doing it. These options are really intended for animation, but as t

[2020-02-19 19:24] IGreatlyDislikeJavascript commented on #47
A couple of ways to do this, but you could use the same approach that I explained here: https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/48#issuecomment-588400223 , except instead of using it per-step, use it as a global option. That way you can completely control the highlight appearance across your tour.

Alternatively you can alter the CSS for the highlight class, or make t

[2020-02-25 02:30] angek opened #49 "incorrect isOrphan Step detection under certain conditions"
firstly, thank you for bootstrap-tourist. It looks very promising and I cant wait to play with it properly.
I've just set it up on one of my sites just to see how much I can break it and have come across what I believe is an incorrect isOrphan detection.
Created the tour and added 2 steps with both steps intentionally assigned to non-existent elements.
[code]
I added some further debugging in the

[2020-02-28 14:34] IGreatlyDislikeJavascript commented on #49
Thanks for your very clear report! I've been caught up with other things recently so haven't had time to look at this properly (or the other couple of reports currently open).

I'm starting to think that something has been missed in the step reload flow, possibly because of the way the step.element has to be handled due to the legacy Tour code. For info, the legacy Tour code mangled the step.eleme

[2020-02-28 21:34] angek commented on #49
Thank you for getting back to me. I'm more than happy to try to resolve the issue and appreciate your offer for guidance. I'll be in touch.

[2020-03-04 23:44] angek commented on #49
I've had some trouble identifying where exactly the step.element is being mangled due to string literal and jq object switching.
It did however occur to me that, given the tour steps are initially correctly identified as orphans, why dont we just explicitly set step.orphan to true.

Propose to change _showPopover function (at around line 1236) from:

[code]

to:

[code]

Thoughts?

[2020-03-05 07:16] angek commented on #49
Ive also taken a quick look at issue #44 since you indicated it may be somewhat related. I'll comment further directly in that issue.

[2020-03-05 07:40] angek commented on #44
So I took a look at docs.html and was able to reproduce the offset issue as described by @diesl
In this specific instance I noted:

1. when navigating from an orphaned step 1 to step 2, the offset is set to **top:119 and left:0**
2. when navigating back to step 1 the highlight is hidden (as expected) in order to display the orphaned step.
3. when navigating, once again, to step 2, I expected the o

[2020-03-05 18:49] IGreatlyDislikeJavascript commented on #49
Thank you for working on this. I'll need to take a quick look at the code to give you exact locations and feedback on this, so a quick signpost for now and hopefully some more specific feedback tomorrow.

In the step show flow, after the step is loaded the step.element is checked for typeof function and evaluated. The result is   then put back into the temporary "live" step.element. This was neces

[2020-03-13 13:40] IGreatlyDislikeJavascript commented on #49
Apologies, this took a bit longer than expected. Thanks again for your feedback.

First, step.element mangling. For info, the logical flow for step management is as follows:

1. Step is changed (first load, user presses button, code evaluates a step change etc). Let's assume "next" is clicked.
2. Next button triggers a call to `Tour.prototype.next()`
3. Function hides current step, and creates a p

[2020-04-06 14:06] mlocati opened #50 "Misplaced tour if target element has overflow:auto CSS"
Consider this sample:

[code]

where `#panel` has `position: absolute` and `overflow: auto;` CSS styles.
In this case, tours associated to `#target` are wrongly placed.

See for example https://jsfiddle.net/LocatiM/yr5epw9t/8/ (which has a tour with `placement: 'right'`):

![immagine](https://user-images.githubusercontent.com/928116/78566902-2c8dd280-7820-11ea-8457-32f19315831f.png)

If `#panel` d

[2020-04-10 13:25] IGreatlyDislikeJavascript commented on #50
Thank you for the report. Appreciate your patience until I can look at this (and the other open issues and pull). Like everyone, coronavirus has caused major disruption for me. Hoping to get back on Tourist code in the next few weeks. Thanks, and stay safe.

[2020-04-10 13:37] mlocati commented on #50
Thanks to you! I fully understand: I'm living in Northern Italy, and in the last 30 days I went out only 3 times...
Stay safe.

[2020-04-23 03:12] scriptsure opened #53 "Angular"
We have an angularjs application using angular material... If we just included bootstrap css and bootstrap-tourist would we be able to get it codebase to work? Has anyone tried this???

[2020-04-23 09:25] IGreatlyDislikeJavascript commented on #53
Hi, thanks for your question. The short answer is no, you must include bootstrap as a whole to use Tourist.

The longer answer: Tourist is a drop-in replacement fork of Bootstrap Tour that fixes many issues and adds requested features. I continued Tourist because the original developers of Tour were no longer maintaining it.

Original tour had a stand alone version that didn't rely on bootstrap. H

[2020-04-23 14:01] scriptsure commented on #53
@IGreatlyDislikeJavascript yeah thanks a lot... awesome work here.... wow. I totally agree on other project what a mess. I actually don't think it is a major deal to include the bootstrap and angular material css. The size of bootstrap is like 25kb so no really pressure there... I don't think that there will be any issues with disrupting current css... I hope.

But in terms of injecting and using

[2020-04-23 14:16] scriptsure commented on #53
@IGreatlyDislikeJavascript do you happen to know what module I inject into angularjs for tourist? And what references in controllers for service?

[2020-04-23 14:28] scriptsure commented on #14
@DancingDad I was trying to get tourist to work with angularjs 1.7. How did you get it to work? In terms of injection of module and use of service in controllers?

[2020-04-23 14:58] IGreatlyDislikeJavascript commented on #53
@scriptsure I'm really sorry but I don't know how to answer your question. I'm not a .js coder, this bit of readme will explain more and set expectations:
https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/blob/master/README.md#policy-on-npm-semantic-versioning-releases-code-structure-etc

If you get it working, I'm sure others would appreciate a guide and I'd be happy to include imple

[2020-04-23 16:11] #53 closed, assigned to nobody

[2020-04-25 17:59] DancingDad commented on #14
@scriptsure I do not use AngularJS. I use Angular.

For Angular. In my component (
in this case a Navbar, as the tour is launched from a Bootstrap style Navbar menu)

In my navbarComponent.ts

imports...
...
**declare var Tour: any;**

export class navbarComponent implements OnInit, AfterViewInit {
....
**tour: any;**

// Create a new tour
ngAfterViewInit() {
    **this.tour = new Tour({
        d

[2020-04-26 22:42] DancingDad opened #54 "On the last step in the tour the next button is disabled, but can still be clicked"
"bootstrap-tourist": "^0.3.2",

Error:
Noticed that on the last step in the tour the next button is greyed out but can still be clicked resulting in the user being locked in a backdrop they cannot navigate from without refreshing the page.

Solution:
The next button should be disabled and unclickable on the last step of the tour. The only clickable options should be "Prev" and "End Tour".

[2020-04-27 22:10] DancingDad commented on #54
Think I found the issue.

Root Cause:
The data-role="next" is still in place, even though the button is visibly disabled. Due to the data-role being in place a click on the button still performs an action.

Fix:
In addition to adding the disabled class, added a  line of code to remove the data-role attribute. This prevents the button from performing any action on click.

Code, recommended change s

[2020-04-28 08:02] IGreatlyDislikeJavascript commented on #54
Thanks for finding and fixing this. I'm hoping to be in a position to start updating code again shortly, a full lockdown still exists in my country.

That's odd! I need to look into this, my expectation was that jq click event (and handler) wouldn't fire on a disabled element. Looks like you've tested your fix comprehensively too, thank you.

Haha yes, you and me both. As I've said all along, I'm

[2020-05-01 04:06] scriptsure commented on #14
@DancingDad sorry late on this... I think the thing that I am not sure about is how do you inject into your controller... in your case import. I guess I would not be able to use it inside of a controller on angularjs. You agree?

[2020-05-02 10:38] IGreatlyDislikeJavascript commented on #14
@scriptsure have you tried searching for a solution to this, but using Bootstrap Tour? Tour was/is very widely used, and a quick Google shows lots of angular and Tour discussions. If someone has solved it for Tour, the same solution should work for Tourist. As before, sorry I don't know how to help you with this but I'm happy to make changes to code if needed, when I can.

[2020-05-13 15:04] vladrusu commented on #44
+1 for this bug fix... I don't know if it's the correct solution, but .. it works!

[2020-05-13 15:08] vladrusu commented on #54
The bug manifests itself on both last step, but on first step also (clicking on Previous on the first step closes the tour but leaves the backdrop/highlighted element visible!).

Elaborating on @DancingDad's solution, I came with this code:

[code]

[2020-05-31 06:07] adriangibbons commented on #47
@codemunkie15 I hacked at the CSS and JS for the result I wanted:
**bootstrap-tourist.css**
Added `border-radius: 8px;` to `.tour-highlight`

**bootstrap-tourist.js**
`$(DOMID_HIGHLIGHT).width($(step.element).outerWidth()).height($(step.element).outerHeight()).offset($(step.element).offset());  // Around line 1825`
Became
`$(DOMID_HIGHLIGHT).width($(step.element).outerWidth()+16).height($(step.ele

[2020-06-10 07:05] akfaew commented on #43
`.tour-backdrop {
        height: 9999px;
}`
makes the whole page longer, and can be scrolled down to a now empty page.

[2020-06-17 14:13] rodrigosoumoreira opened #55 "backdropPadding"
Hi guys,
Is there a _**backdropPadding**_ option in this plugin?
I'm trying to implement but it does not seems to work

[code]
or
[code]
Thanks in advance

[2020-06-24 08:29] IGreatlyDislikeJavascript commented on #55
Hi, have a look at this: https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/47

[2020-07-13 12:48] diesl commented on #43
Is there any progress on this?
I wanted to replace _bootstrap tour_ with _bootstrap tourist_, but currently there are too many critical bugs unfortunately ...

[2020-07-13 17:20] IGreatlyDislikeJavascript commented on #43
Hi @diesl , yes unfortunately my progress has been basically halted by the corona virus for various reasons. Offices mostly remain closed here (many businesses are continuing this into September/October), and I have no access to my development environment. It's also created some personal challenges, so I haven't been able to do anything about an alternative solution.

If there's an urgent fix that

[2020-07-13 17:29] IGreatlyDislikeJavascript opened #57 "FYI: FIXING ISSUES DURING PANDEMIC"
Thank you for your interest in Tourist. It's still under support and active development.

Unfortunately my progress fixing bugs and adding features has been basically halted by the corona virus for various reasons. Offices mostly remain closed here (many businesses are continuing this into September/October at least), I have no access to my development environment, and I also have some personal ch

[2020-07-29 13:34] diesl commented on #30
Today I stumbled about this issue and I wonder that nobody else complained about it?

It worked quite well with Bootstrap Tour, I do not see the problem about checking the `current_step` variables in LocalStorage, which for me is a quite certain sign for contination?

Which ones do you mean?

So effectively I have to program this previously existing behaviour myself now. Personally I think this sh

[2020-08-19 09:15] diesl commented on #57
Maybe you want to pin this issue.

More info: https://docs.github.com/en/github/managing-your-work-on-github/pinning-an-issue-to-your-repository

[2020-08-19 17:38] IGreatlyDislikeJavascript commented on #57
Thank you @diesl , that pin feature is hidden way down the bottom on mobile device, I wasn't aware of it.

[2020-08-19 22:34] igor-stojcic commented on #54
Regards to all. This is a great correction, I just think that in the first if statement `step.prev <= 0` should only be `step.prev < 0` . Correct me if I'm wrong. Thanks.

[2020-08-20 12:47] igor-stojcic commented on #43
Regards to all. I managed to solve this problem in the following way ... In `bootstrap-tourist.js` around the line` 1817`, in the if statement where the backdrop is appended, I added css rules to the body - `position: relative;`.

[code]

I hope that this solution will not disrupt the normal operation of the rest of the code. I ask the more competent members to give their comment, so that I and th

[2020-08-20 14:47] igor-stojcic opened #60 "Issue with pause-resume buttons"
I came across a problem with the `pause-resume` buttons. When we click on the pause button, the resume button has its own functionality, but the text of the resume button does not change. In order for the additional `localization` option to work, I changed a little` bootstrap-turist.js` around line 1646:

-I replaced this part of the code
[code]
with this
[code]

I hope it's worth it to someone.

[2020-08-20 17:06] IGreatlyDislikeJavascript commented on #60
Thank you, that's a good spot. I'll incorporate this when possible.

[2020-08-20 17:13] IGreatlyDislikeJavascript commented on #43
@igor-stojcic I can't test this out currently, but although that looks like it could work, I'm not sure of the implications of changing CSS position for the entire DOM `body` . It feels like that could break things quite easily? I'm not a CSS expert though.

@diesl has posted a fix earlier in this thread, does that work for you? I want to figure out if diesl's fix is correct and sdlins has a speci

[2020-08-20 17:18] igor-stojcic commented on #43
However, a better solution was given by @diesl with the position: fixed.

[2020-08-21 07:57] diesl commented on #43
Hopefully I can also take a second look at this issue and the proposed solutions next week

[2020-08-21 15:36] kwojcicki opened #61 "Next button partially working at the end of the tour."
When you are at the end of the tour (i.e. at the final step) the next button has the disabled css, but is still very much clickable.

If clicked the tour gets into a weird state where it attempts to move to a null step.

![bug_tour](https://user-images.githubusercontent.com/2487946/90908385-4deff500-e3a2-11ea-884a-3c9cb59119f3.gif)

[2020-08-21 17:36] IGreatlyDislikeJavascript commented on #61
Thanks for reporting this, and the gif is very helpful. Please can you confirm if your issue is the same as this one?

https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/54

[2020-08-21 21:14] kwojcicki commented on #61
Yes your right! My apologies I will close this ticket in favor of that 😄 Thanks for the great library btw.

[2020-08-21 21:14] #61 closed, assigned to nobody

[2020-10-16 09:22] beard7 opened #65 "Bootstrap 4.5 compatibility?"
I've just noticed that my tours are not working anymore. The backdrop is displayed, but the popups aren't.

I've no idea how long they've not been working, but it's possible it coincides with my recent(ish) upgrade to Bootstrap 4.5.

Before I waste a load of time trying to get to the root of the issue, are there any known problems with Bootstrap 4.5?

Edit: I've enabled degugging, but it doesn't t

[2021-02-04 23:57] elleech opened #68 "$(...).stop is not a function?"
I wanted to start tour when clicking on the button. But every time I do that, it shows error of "$(...).stop is not a function" and the whole page goes dark. I wonder if anyone has encountered this issue.

![image](https://user-images.githubusercontent.com/26476837/106968196-610b3d00-6716-11eb-899e-18748d1d9d55.png)

I use jquery 3.3.1 and bootstrap 4.3.1 in my html as following code:

[code]

And

[2021-02-05 08:35] stania0510 opened #69 "Cannot highlight elements with the style display: contents and incorrect highlight position with fixed elements"
I've found a possible bug when trying to highlight an element wrapped in a div with display: contents. When I turned the backdrop on, the page just freezes when I moved to the step with this element. I can't take the style off at all because I need it to highlight multiple elements at once, a feature which still isn't available in Bootstrap Tourist.

Another possible bug would be the incorrect hig

[2021-02-05 19:52] elleech commented on #68
Error has gone when change jQuery to jquery-3.3.1.min.js

[2021-02-05 19:52] #68 closed, assigned to nobody

[2021-02-12 17:20] IGreatlyDislikeJavascript commented on #69
Thanks for your report. I understand you need a fix but the situation means I have no ability to update the code any more (you can read about the origin of this fork in the read me).

In the meantime, does this comment (https://github.com/IGreatlyDislikeJavascript/bootstrap-tourist/issues/48#issuecomment-588400223) help you? Using the function options will allow you to set and position highlights

[2021-02-28 16:33] DancingDad commented on #65
Hi, I am using it fine with Bootstrap 4.5

"bootstrap": "^4.5.0",
"bootstrap-tourist": "^0.3.2",

[2021-05-05 13:58] supersantux opened #71 "IGreatlyDislikeJavascript"
maybe we should have a conversation about this: I am also programmer from the 90s, started with asm and basic and continued learning most mainstream languages.. liked them all, really, but think javascript is the devil :)

[2021-09-21 09:37] mlocati commented on #57
Is this project abandoned? I see a few rather old pull requests that did not receive any feedback...

[2021-12-29 23:16] AlexOulapourHCTX commented on #54
Will killbobjr's fix for this be merged into master?